{% extends "base.html.twig" %}
{% block body %}
    <div class="container w-75">
        <div class="mt-4">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}