{% extends 'base.html.twig' %}

{% block title %}Edit BookAd{% endblock %}

{% block body %}
    <h1>Edit BookAd</h1>

    {{ include('my_book_ad/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_book_ad_index') }}">back to list</a>

    {{ include('my_book_ad/_delete_form.html.twig') }}
{% endblock %}
