{% extends 'base.html.twig' %}

{% block title %}Edit BookAd{% endblock %}

{% block body %}
<div class="container w-75">
    <h1 class="mt-4">Modifier votre don</h1>

    {{ include('my_book_ad/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_home') }}" class="btn btn-default">Retour à l'accueil</a>
</div>
{% endblock %}
