{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1 class="mt-4 text-center">Mes dons</h1>
<div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(pagination) }}
</div>
<div class="container w-75 d-flex flex-row flex-wrap">
    {% for bookAd in pagination %}
        {% embed "./_parts/book_ad_card.html.twig" %}
            {% block actions %}
                {{ parent() }}
                {% if is_granted('ROLE_USER') and app.user.id == bookAd.user.id %}
                    <a href="{{ path('app_my_book_ad_delete', { id: bookAd.id }) }}" onclick="return confirm('Etes vous sûr ?')" class="btn btn-secondary">Supprimer</a>
                    <a href="{{ path('app_my_book_ad_edit', { id: bookAd.id }) }}" class="btn  btn-default">Modifier</a>
                {% endif %}
            {% endblock %}
        {% endembed %}
    {% endfor %}
</div>

{% endblock %}