{% extends 'base.html.twig' %}

{% block title %}BookAd{% endblock %}

{% block body %}
<div class="container w-75 d-flex flex-column align-items-center">
    <h1>{{ bookAd.title }}</h1>
    <h6>{{ bookAd.description }}</h6>
    <img src="{{ asset('images/' ~ bookAd.imagePath) | imagine_filter('list_thumbnail') }}" alt="{{ bookAd.imagePath }}">
</div>
{% endblock %}
