@import "variables";

@import "~bootstrap/scss/bootstrap";


body {
    background-color: rgb(255, 255, 255);
}

.navbar-flex {
    display: flex !important;
    justify-content: space-between !important;
}

.nav-list-dropdown {
    margin-left: 25px !important;
}

.button-search {
    height: 38px;
    margin-right: 25px;
}

.query-search {
    margin-bottom: 0px !important;
}

.italic-dropdown {
    text-decoration: italic !important;
    font-size: 0.6rem !important;
    color: rgb(103, 103, 103) !important;
}

.card-width {
    width: 400px;
}

.small-text {
    font-size: 0.6rem;
    color: white;
    background-color: black;
    border-radius: 5px;
    height: 15px;
}

h1 {
    color: $primary;
}

