@import "variables";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import "~bootstrap/scss/bootstrap";

@font-face{
    font-family : 'TiltWarp';
    src : url('../../public/fonts/TiltWarp-Regular.ttf') format('truetype');
}

body {
    background-color: rgb(255, 255, 255);
}

.navbar-flex {
    display: flex !important;
    justify-content: space-between !important;
}

.nav-list-dropdown {
    margin-left: 25px !important;
}

.nav-bar-title {
    font-family: 'TiltWarp';
    font-size: 1.9rem;
}

.button-search {
    height: 38px;
    margin-right: 25px;
}

.query-search {
    margin-bottom: 0px !important;
}

.italic-dropdown {
    text-decoration: italic !important;
    font-size: 0.6rem !important;
    color: rgb(103, 103, 103) !important;
}

.card-width {
    width: 400px;
}

.small-text {
    font-size: 0.6rem;
    color: white;
    background-color: black;
    border-radius: 5px;
    height: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'TiltWarp';
}

h1 {
    color: $primary;
}

.btn {
    color: white;

    &:hover {
        color: $secondary;
    }
}

.btn-default {
    color: $primary;
}

.distance {
    font-size: 0.8rem;
}

.message-left {
    border-radius: 10px 10px 10px 0px !important;
}

.message-right {
    border-radius: 10px 10px 0px 10px !important;
}

.card-home {
    width: 300px;
}

.card-detail {
    width: 600px;
}

.text-detail {
    font-size: 0.8rem;
}
