{% extends 'base.html.twig' %}

{% block title %}Nouvelle Annonce{% endblock %}

{% block body %}
<div class="container w-75">
    {% if app.user %}
        <h1 class="mt-4">Votre livre à donner</h1>

        {{ include('book_ad/_form.html.twig') }}

        <a href="{{ path('app_home') }}">Retour aux annonces</a>

    {% else %}
        
        <h3 class="mt-4">Vous devez être connectés pour donner un livre</h3>
        
    {% endif %}
    

</div>
{% endblock %}
