{% block title %}Email{% endblock %}

{% block body %}
    <p>Bonjour {{ user.email }}</p>
    <p>Veuillez cliquer sur le lien suivant <a href="{{ url|raw }}">{{ url }}</a>, pour valider votre compte.</p>
{% endblock %}
